*.log
.*
!.*.cjs
!.*.js
!.*.json
!.*.json5
!.*.jsx
!.*.md
!.*.mdx
!.*.mjs
!.*.ts
!.*.tsx
!.*.yaml
!.*.yml
!.github
!.storybook
!.vscode
LICENSE

.pnp.*
*.lock
*.tsbuildinfo

**/dist
**/out
**/build

**/coverage

**/storybook-static
