*.log
.*
!.*.cjs
!.*.js
!.*.json
!.*.json5
!.*.jsx
!.*.md
!.*.mdx
!.*.mjs
!.*.ts
!.*.tsx
!.*.yaml
!.*.yml
!.github
!.storybook
!.vscode
LICENSE

mise.toml

.pnp.*
*.lock
*.tsbuildinfo
vite.config.ts.timestamp*

**/dist
**/out
**/build

**/coverage

**/storybook-static
**/styled-system
