name: Issues & PRs housekeep

on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v8
        with:
          stale-issue-message: |
            This issue didn't had any activity in the last 30 days.

            Without any further action or update, it will be closed in 7 days.

            You can remove the "Stale" label or add a comment to keep it open.
          close-issue-message: |
            This issue was closed because it has been stalled for 7 days.

            If you think this is still relevant, you can reopen it.
          stale-pr-message: |
            This pull request didn't had any activity in the last 30 days.

            Without any further action or update, it will be closed in 7 days.

            You can remove the "Stale" label or add a comment to keep it open.
          close-pr-message: |
            This pull request was closed because it has been stalled for 7 days.

            If you think this is still relevant, you can reopen it.
          days-before-stale: 30
          exempt-all-milestones: true
          exempt-pr-labels: Do no stale
