/* Polyfill flex gap for iOS < 14. */
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  .flex:not(.flex-col).gap-0 > :not(:last-child),
  .gap-x-0 {
    margin-right: var(--size-spacing-0);
  }

  .flex:not(.flex-col).gap-quarter > :not(:last-child),
  .gap-x-quarter {
    margin-right: var(--size-spacing-quarter);
  }

  .flex:not(.flex-col).gap-half > :not(:last-child),
  .gap-x-half {
    margin-right: var(--size-spacing-half);
  }

  .flex:not(.flex-col).gap-1 > :not(:last-child),
  .gap-x-1 {
    margin-right: var(--size-spacing-1);
  }

  .flex:not(.flex-col).gap-one-and-half > :not(:last-child),
  .gap-x-one-and-half {
    margin-right: calc(var(--size-spacing-1) + var(--size-spacing-half));
  }

  .flex:not(.flex-col).gap-2 > :not(:last-child),
  .gap-x-2 {
    margin-right: var(--size-spacing-2);
  }

  .flex:not(.flex-col).gap-3 > :not(:last-child),
  .gap-x-3 {
    margin-right: var(--size-spacing-3);
  }

  .flex:not(.flex-col).gap-4 > :not(:last-child),
  .gap-x-4 {
    margin-right: var(--size-spacing-4);
  }

  .flex:not(.flex-col).gap-5 > :not(:last-child),
  .gap-x-5 {
    margin-right: var(--size-spacing-5);
  }

  .flex:not(.flex-col).gap-6 > :not(:last-child),
  .gap-x-6 {
    margin-right: var(--size-spacing-6);
  }

  .flex:not(.flex-col).gap-7 > :not(:last-child),
  .gap-x-7 {
    margin-right: var(--size-spacing-7);
  }

  .flex:not(.flex-col).gap-8 > :not(:last-child),
  .gap-x-8 {
    margin-right: var(--size-spacing-8);
  }

  .flex:not(.flex-col).gap-9 > :not(:last-child),
  .gap-x-9 {
    margin-right: var(--size-spacing-9);
  }

  .flex:not(.flex-col).gap-10 > :not(:last-child),
  .gap-x-10 {
    margin-right: var(--size-spacing-10);
  }

  .flex:not(.flex-col).gap-11 > :not(:last-child),
  .gap-x-11 {
    margin-right: var(--size-spacing-11);
  }

  .flex:not(.flex-col).gap-12 > :not(:last-child),
  .gap-x-12 {
    margin-right: var(--size-spacing-12);
  }

  .flex:not(.flex-col).gap-13 > :not(:last-child),
  .gap-x-13 {
    margin-right: var(--size-spacing-13);
  }

  .flex:not(.flex-col).gap-14 > :not(:last-child),
  .gap-x-14 {
    margin-right: var(--size-spacing-14);
  }

  .flex:not(.flex-col).gap-15 > :not(:last-child),
  .gap-x-15 {
    margin-right: var(--size-spacing-15);
  }

  .flex:not(.flex-col).gap-16 > :not(:last-child),
  .gap-x-16 {
    margin-right: var(--size-spacing-16);
  }

  .flex:not(.flex-col).gap-17 > :not(:last-child),
  .gap-x-17 {
    margin-right: var(--size-spacing-17);
  }

  .flex:not(.flex-col).gap-18 > :not(:last-child),
  .gap-x-18 {
    margin-right: var(--size-spacing-18);
  }

  .flex:not(.flex-col).gap-19 > :not(:last-child),
  .gap-x-19 {
    margin-right: var(--size-spacing-19);
  }

  .flex:not(.flex-col).gap-20 > :not(:last-child),
  .gap-x-20 {
    margin-right: var(--size-spacing-20);
  }

  .flex.flex-col.gap-0 > :not(:last-child),
  .gap-y-0 {
    margin-bottom: var(--size-spacing-0);
  }

  .flex.flex-col.gap-quarter > :not(:last-child),
  .gap-y-quarter {
    margin-bottom: var(--size-spacing-quarter);
  }

  .flex.flex-col.gap-half > :not(:last-child),
  .gap-y-half {
    margin-bottom: var(--size-spacing-half);
  }

  .flex.flex-col.gap-1 > :not(:last-child),
  .gap-y-1 {
    margin-bottom: var(--size-spacing-1);
  }

  .flex.flex-col.gap-one-and-half > :not(:last-child),
  .gap-y-one-and-half {
    margin-bottom: calc(var(--size-spacing-1) + var(--size-spacing-half));
  }

  .flex.flex-col.gap-2 > :not(:last-child),
  .gap-y-2 {
    margin-bottom: var(--size-spacing-2);
  }

  .flex.flex-col.gap-3 > :not(:last-child),
  .gap-y-3 {
    margin-bottom: var(--size-spacing-3);
  }

  .flex.flex-col.gap-4 > :not(:last-child),
  .gap-y-4 {
    margin-bottom: var(--size-spacing-4);
  }

  .flex.flex-col.gap-5 > :not(:last-child),
  .gap-y-5 {
    margin-bottom: var(--size-spacing-5);
  }

  .flex.flex-col.gap-6 > :not(:last-child),
  .gap-y-6 {
    margin-bottom: var(--size-spacing-6);
  }

  .flex.flex-col.gap-7 > :not(:last-child),
  .gap-y-7 {
    margin-bottom: var(--size-spacing-7);
  }

  .flex.flex-col.gap-8 > :not(:last-child),
  .gap-y-8 {
    margin-bottom: var(--size-spacing-8);
  }

  .flex.flex-col.gap-9 > :not(:last-child),
  .gap-y-9 {
    margin-bottom: var(--size-spacing-9);
  }

  .flex.flex-col.gap-10 > :not(:last-child),
  .gap-y-10 {
    margin-bottom: var(--size-spacing-10);
  }

  .flex.flex-col.gap-11 > :not(:last-child),
  .gap-y-11 {
    margin-bottom: var(--size-spacing-11);
  }

  .flex.flex-col.gap-12 > :not(:last-child),
  .gap-y-12 {
    margin-bottom: var(--size-spacing-12);
  }

  .flex.flex-col.gap-13 > :not(:last-child),
  .gap-y-13 {
    margin-bottom: var(--size-spacing-13);
  }

  .flex.flex-col.gap-14 > :not(:last-child),
  .gap-y-14 {
    margin-bottom: var(--size-spacing-14);
  }

  .flex.flex-col.gap-15 > :not(:last-child),
  .gap-y-15 {
    margin-bottom: var(--size-spacing-15);
  }

  .flex.flex-col.gap-16 > :not(:last-child),
  .gap-y-16 {
    margin-bottom: var(--size-spacing-16);
  }

  .flex.flex-col.gap-17 > :not(:last-child),
  .gap-y-17 {
    margin-bottom: var(--size-spacing-17);
  }

  .flex.flex-col.gap-18 > :not(:last-child),
  .gap-y-18 {
    margin-bottom: var(--size-spacing-18);
  }

  .flex.flex-col.gap-19 > :not(:last-child),
  .gap-y-19 {
    margin-bottom: var(--size-spacing-19);
  }

  .flex.flex-col.gap-20 > :not(:last-child),
  .gap-y-20 {
    margin-bottom: var(--size-spacing-20);
  }
}
